{% extends 'index.html' %}
{% load static %}

{% block title %}Account{% endblock title %}

{% block content %}

<h1 align="center" id="users-header">Profile of user {{ request.user.username }}</h1>
{% if orders %}
<div class="container">
	<div class="row">
		<table class="table">
			<thead class="thead-dark">
				<tr align="center">
					<th scope="col">#</th>
					<th scope="col">Address</th>
					<th scope="col">Phone</th>
					<th scope="col">Buying type</th>
					<th scope="col">Total price</th>
					<th scope="col">Comments</th>
					<th scope="col">Details</th>
				</tr>
			</thead>
			<tbody>
				{% for order in orders %}
				<tr align="center">
					<th scope="row">{{ order.id }}</th>
					<th scope="row">
						{% if order.address %}
						{{ order.address }}
						{% else %}
						-
						{% endif %}
					</th>
					<th scope="row">{{ order.phone }}</th>
					<th scope="row">{{ order.buying_type }}</th>
					<th scope="row">{{ order.users_cart.total_price }} $</th>
					<th scope="row">
						{% if order.comment %}
						{{ order.comment }}
						{% else %}
						-
						{% endif %}
					</th>
					<th scope="row">
						<button class="btn btn-info" data-toggle="modal" data-target="#myModal-{{ order.id }}">Order details</button>	
					</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% else %}
<div align="center">
	<img src="{% static 'img/no-list.png' %}">
</div>
{% endif %}

<!-- Modal -->
{% for order in orders %}
<div class="modal fade" id="myModal-{{ order.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Order №{{ order.id }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table order-table">
					<h3>Items</h3>
					<tbody>
						{% for item in order.users_cart.products.all %}
						<tr align="left">
							<th>{{ item.product.title }}</th>
							<th>{{ item.count }} qt.</th>
							<th>{{ item.total_price }} $</th>
						</tr>
						{% endfor %}
						<tr>
							<th></th>
							<th>Total</th>
							<th><b>{{ order.users_cart.total_price }} $</b></th>
						</tr>
					</tbody>
				</table>
				<h3>Customer</h3>
				<p class="customer-info">
					<p>First name: {{ order.first_name }}</p>
					{% if order.last_name %}
					<p>Last name: {{ order.last_name }}</p>
					{% endif %}
					<p>Phone number: {{ order.phone }}</p>
					<p>Buying type: {{ order.buying_type }}</p>
					{% if order.comment %}
					<p>Comments: {{ order.comment }}</p>
					{% endif %}
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endfor %}

{% endblock content %}