{% extends 'index.html' %}
{% load static %}

{% block title %}Cart{% endblock title %}

{% block content %}

{% if products.count %}
<div class="container">
	<div class="row cart-body">
		<div class="col-lg-4"><p align="center" class="cart-header">Name</p></div>
		<div class="col-lg-4"><p align="center" class="cart-header">Count</p></div>
		<div class="col-lg-4"><p align="center" class="cart-header">Price</p></div>
		{% for product in products %}
		<div class="col-lg-4 cart-item-{{product.id}}">
			<p align="center">{{ product.product.title }}</p>
		</div>
		<div class="col-lg-4 cart-item-{{product.id}}">
			<span class="product-count">{{ product.count }}</span>
			<a href="#" class="add-qty" data-item-id="{{ product.id }}" data-count="{{ product.count }}">
				<span><i class="fa fa-plus" aria-hidden="true"></i></span>
			</a>
			<a href="#"><span><i class="fa fa-minus" aria-hidden="true"></i></span></a>
		</div>
		<div class="col-lg-3 cart-item-{{product.id}}">
			<p class="product-total-price">{{ product.total_price }}</p>
		</div>
		<div class="col-lg-1 cart-item-{{product.id}}">
			<a href="{% url 'remove_from_cart_view' %}" class="remove-from-cart" data-item-id="{{ product.id }}" data-slug="{{product.product.slug}}" class="trash"><i class="fa fa-trash" aria-hidden="true"></i></a>
		</div>
		{% endfor %}
		<div class="col-lg-4">
			<span>Total price: </span>
			<span id="cart-total-price">{{ cart.total_price }}</span>
		</div>
	</div>
</div>
{% else %}
<h2 align="center">The cart is empty.</h2>
{% endif %}

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function(){

		$('.remove-from-cart').on('click', function(e){
			e.preventDefault();
			product_slug = $(this).attr('data-slug');
			item_id = $(this).attr('data-item-id');
			data = {
				product_slug: product_slug
			}
			$.ajax({
				type: "GET",
				url: "{% url 'remove_from_cart_view' %}",
				data: data,
				success: function(data){
					$('#cart-count').html(data.total);
					$('.cart-item-'+item_id).css('display', 'none');
				}
			});
		});

		$('.add-qty').on('click', function(e){
			e.preventDefault();
			item_id = $(this).attr('data-item-id');
			data = {
				item_id: item_id
			}
			$.ajax({
				type: "GET",
				url: "{% url 'increase_product_count_view' %}",
				data: data,
				success: function(data){
					$('.cart-item-' + item_id + ' > .product-count').html(data.count);
					$('.cart-item-' + item_id + ' > .product-total-price').html(data.product_total_price);
					$('#cart-total-price').html(data.total_cart_price);
				}
			});
		});

	});
</script>
{% endblock content %}