{% extends 'index.html' %}
{% load static %}

{% block title %}Cart{% endblock title %}

{% block content %}

{% if products.count %}s
<div class="container cart-wrapper">
	<div class="row cart-body">
		<div class="col-lg-4"><p align="center" class="cart-header">Name</p></div>
		<div class="col-lg-4"><p align="center" class="cart-header">Count</p></div>
		<div class="col-lg-4"><p align="center" class="cart-header">Price</p></div>
		{% for product in products %}
		<div class="col-lg-4 cart-item-{{product.id}}">
			<p align="center">{{ product.product.title }}</p>
		</div>
		<div class="col-lg-4 cart-item-{{product.id}} item-count">
			<span class="product-count">{{ product.count }}</span>
			<a href="#" class="add-qty" data-item-id="{{ product.id }}" data-count="{{ product.count }}">
				<span><i class="fa fa-plus" aria-hidden="true"></i></span>
			</a>
			<a href="#" class="remove-qty" data-item-id="{{ product.id }}" data-count="{{ product.count }}">
				<span><i class="fa fa-minus" aria-hidden="true"></i></span>
			</a>
		</div>
		<div class="col-lg-3 cart-item-{{product.id}}">
			<span class="product-total-price">{{ product.total_price }}</span>
			<span>$</span>
		</div>
		<div class="col-lg-1 cart-item-{{product.id}}">
			<a href="{% url 'remove_from_cart_view' %}" class="remove-from-cart" data-item-id="{{ product.id }}" data-slug="{{product.product.slug}}" data-cart="{{ cart }}" class="trash"><i class="fa fa-trash" aria-hidden="true"></i></a>
		</div>
		{% endfor %}
		<div class="col-lg-12 price-separator" align="right">
			<span>Total price: </span>
			<span id="cart-total-price"><b>{{ cart.total_price }}</b></span> $
		</div>
		<div class="col-lg-12" align="right" id="pre-order">
			<a href="{% url 'checkout_view' %}"><button class="btn btn-success">Pre order</button></a>
		</div>
	</div>

</div>
{% else %}
<div align="center" id="empty-cart-body">
	<img src="{% static 'img/empty-cart.png' %}">
	<p>Visit our <a href="{% url 'base_view' %}">shop</a> and add some items in your cart :)</p>
</div>
{% endif %}
<div align="center" class="empty-cart-inv">
	<img src="{% static 'img/empty-cart.png' %}">
	<p>Visit our <a href="{% url 'base_view' %}">shop</a> and add some items in your cart :)</p>
</div>
{% endblock content %}