{% extends 'index.html' %}
{% load static %}

{% block title %}{{ product.title }}{% endblock title %}

{% block content %}

<div class="container product-wrapper">
	<div class="row">
		<div class="col-lg-4">
			<img class="img-fluid" src="{{ product.image.url }}">
			<h2 align="center">{{ product.price }} $</h2>
		</div>
		<div class="col-lg-8 main-info">
			<h1 align="center">{{ product.title }}</h1>
			<p>{{ product.full_description }}</p>
			<a href="{% url 'add_to_cart_view' %}" class='add-to-cart' data-slug='{{ product.slug }}'>
				<button class="btn btn-success">
					<i class="fa fa-shopping-cart icons" aria-hidden="true"></i> Add to cart
				</button>
			</a>
		</div>
	</div>
</div>

{% endblock content %}