{% extends 'index.html' %}
{% load static %}

{% block title %}{{ category.name }}{% endblock title %}

{% block content %}

<div class="container">
	<div class="row">
		{% for product in products %}
		<div class="col-lg-4 col-md-6 mb-4">
			<div class="card h-100">
				<a href="#"><img class="card-img-top" src="{{ product.image.url }}" alt=""></a>
				<div class="card-body">
					<h4 class="card-title">
						<a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
					</h4>
					<h5>${{ product.price }}</h5>
					<p class="card-text">{{ product.description }}</p>
					<a href="{% url 'add_to_cart_view' %}" class='add-to-cart' data-slug='{{ product.slug }}'>
						<button class="btn btn-success"><i class="fa fa-shopping-cart icons" aria-hidden="true"></i> Add</button>
					</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	
</div>

{% endblock content %}