body {
	padding-top: 56px;
}

.card-text{
	font-size: 13px;
}

.main-info{
	padding-top: 30px;
}

.wrapper{
	padding: 50px 0 50px 0;
}

.cart-header{
	font-size: 20px;
	font-weight: bold;
	border-bottom: 2px solid black;
}
.cart-body{
	margin-top: 40px;
	padding: 20px 0 20px 0;
	box-shadow: 1px 0px 20px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 1px 0px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 0px 20px 0px rgba(0,0,0,0.75);
}

.card-body{
	position: relative;
	padding-bottom: 50px;
}

.button-add{
	width: 85%;
	position: absolute;
	bottom: 15px;
}

.product-wrapper{
	margin-top: 10vh;
	box-shadow: 1px 0px 20px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 1px 0px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 0px 20px 0px rgba(0,0,0,0.75);
}

.price-separator{
	border-top: 1px solid black;
	margin-top: 20px;
	padding-top: 20px;
}

#pre-order,
#order-btn{
	margin-top: 20px;
}

.category-wrapper{
	margin-top: 50px;
}

#category-header{
	margin-top: 20px;
}

.item-count{
	text-align: center;
}

.add-qty{
	float: right;
	margin-left: 10px;
	text-decoration: none;
	color: black;
}

.remove-qty{
	float: right;
	text-decoration: none;
	color: black;
}

.fa-trash{
	text-decoration: none;
	color: black;
}

.remove-qty:hover,
.add-qty:hover,
.fa-trash:hover{
	text-decoration: none;
	color: black;
}

.carousel-inner > .carousel-item img{
	height: 380px;
}

#carouselExampleIndicators{
	margin: 20px 0 30px 0;
	box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
}

.carousel-control-next,
.carousel-control-prev {
	filter: invert(100%);
}